<template>
<div id="app">
  <button @click="disconnect" v-if="status === 'connected'">Disconnect</button>
  <button @click="connect" v-if="status === 'disconnected'">Connect</button> {{ status }}
  <br /><br />
  <div v-if="status === 'connected'">
    <form @submit.prevent="sendMessage" action="#">
      <input v-model="message"><button type="submit">Send Message</button>
    </form>
    <div id="container" style="overflow-y: auto; height:400px;">
    <ul id="logs">
      <li v-for="log in logs" v-bind:key = "log.id" class="log">
        {{ log.event }}: {{ log.data }}
      </li>
    </ul>
    </div>
  </div>
</div>

</template>

<script>
export default {
  name: "app",
  data : function (){
    return {
    message: "",
    logs: [],
    status: "disconnected"
    }
  },
  methods: {
    connect() {
      this.socket = new WebSocket("ws://localhost:3000/websocket/"); //wss would be https
      this.socket.onopen = () => {
        this.status = "connected";
        this.logs.push({ event: "Connected to", data: 'ws://localhost:3000/websocket/'})
        

        this.socket.onmessage = ({data}) => {
          this.logs.push({ event: "Received message", data });
          this.scrollToEnd();
        };
      };
    },
    disconnect() {
      this.socket.close();
      this.status = "disconnected";
      this.logs = [];
    },
    sendMessage() {
      this.socket.send(this.message);
      this.logs.push({ event: "Sent message", data: this.message });
      this.message = "";
    },
    // this is used to move the scrollbar on the labeled div to the bottom
    // as new messages appear
    scrollToEnd: function() {    	
      var container = this.$el.querySelector("#container");
      container.scrollTop = container.scrollHeight;
    },
  }
};

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  /* display: inline-block; */
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
