<template>
<div id="app">
  <br /><br />
    <div id="container" style="overflow-y: auto; height:400px;">
    <table id="logs" style="border:1px solid black;margin-left:auto;margin-right:auto;">
      <tr><td><b>Make</b></td><td><b>Model</b></td><td><b>Price</b></td><td><b>Age</b></td></tr>
      <tr v-for="data in somedata" v-bind:key = "data.id">
        <td>{{ data.brand }}</td> <td>{{ data.title }}</td> <td>{{ data.price }}</td> <td>{{ data.age }}</td>
      </tr>
    </table>
    </div>
</div>

</template>

<script>
import axios from 'axios';


export default {
    name: 'PostFormAxios',
    data(){
        return{
            somedata : [],
        }
    },
    methods:{
        loadAllCars(){
          let config = {
            headers: {
              Authorization: "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJmb28iOiJiYXIiLCJ3aGF0ZXZlciI6InRlc3QiLCJpYXQiOjE2MTYwODE3OTl9.33DcMysf7g2JA4BqNhbGiiu8PgFXIoVMshXIZxp7PIQ",
            }
          }
            axios.get('http://localhost:3000/api/cars', config)
                 .then((res) => {
                     //Perform Success Action
                     console.log("Success!" + res)
                     this.somedata = res.data
                 })
                 .catch((error) => {
                     // error.response.status Check status code
                     console.log("Error!" + error)
                 }).finally(() => {
                     //Perform action in always
                     console.log("Done!")
                 });
        }
    },
    created() {
        console.log('Component has been created!');
        this.loadAllCars();
    },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  /* display: inline-block; */
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
