<template>
    <div>
        <!-- The first form for persons -->
        <h2>the person form</h2>
        <form v-on:submit.prevent="submitPersonForm">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="personName" placeholder="Your name" v-model="personForm.personName">
            </div>
            <div class="form-group">
                <button :disabled="isDisabled_a" class="btn btn-primary">Submit</button>
            </div>
        </form>

        <!-- The second form for cars -->
        <h2>the car form</h2>
        <form v-on:submit.prevent="submitCarForm">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="title" placeholder="Car Title" v-model="carForm.title"> <br />
                <label for="name">Brand</label>
                <input type="text" class="form-control" id="brand" placeholder="Car Brand" v-model="carForm.brand"> <br />
                <label for="name">Price</label>
                <input type="text" class="form-control" id="price" placeholder="Car Price" v-model="carForm.price"> <br />
                <label for="name">Age</label>
                <input type="text" class="form-control" id="age" placeholder="Car Age" v-model="carForm.age">
            </div>
            <div class="form-group">
                <button :disabled="isDisabled_b" class="btn btn-primary">Submit</button>
            </div>
        </form>

        <!-- show the ipinfo in a box -->
        <h2>the output</h2>
        <div id="container" style="overflow-y: auto; height:400px; text-align:left;">
            <pre>
                {{ JSON.stringify(somedata, null, '\t') }}
            </pre>
        </div>
    </div>
</template>

<script>
import axios from 'axios';


export default {
    name: 'PostFormAxios',
    data(){
        return{
            personForm: {
                personName: '', // these should be named the same as in the api
                personIP: 'not known',
                lastModified: new Date().toLocaleString(),
                aNumber: 1
            },
            carForm: {
                title: '', // these should be named the same as in the api
                brand: '',
                price: '',
                age: 1
            },
            somedata : [],
            buttonoff_a : false,
            buttonoff_b : false
        }
    },
    computed : {
        isDisabled_a:function() {
            return this.buttonoff_a
        },
        isDisabled_b:function() {
            return this.buttonoff_b
        }

    },
    methods:{
        getIpinfo() {
          axios.get('http://localhost:3000/ipinfo')
            .then((response) => {
                //console.log(response.data);
                //console.log(response.status);
                //console.log(response.statusText);
                //console.log(response.headers);
                //console.log(response.config);
                this.somedata = response.data;
            })
        },
        submitPersonForm(){
            axios.post('http://localhost:3000/api/person', this.personForm)
                 .then((res) => {
                     //Perform Success Action
                     console.log("Success!" + res)
                 })
                 .catch((error) => {
                     // error.response.status Check status code
                     console.log("Error!" + error)
                 }).finally(() => {
                     //Perform action in always
                     console.log("Done!")
                 });
                this.buttonoff_a = true
        },
        submitCarForm(){
            axios.post('http://localhost:3000/api/cars', this.carForm, 
                { headers: {
                    Authorization: 'Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJmb28iOiJiYXIiLCJ3aGF0ZXZlciI6InRlc3QiLCJpYXQiOjE2MTYwODE3OTl9.33DcMysf7g2JA4BqNhbGiiu8PgFXIoVMshXIZxp7PIQ'
                }})
                 .then((res) => {
                     //Perform Success Action
                     console.log("Success!" + res)
                 })
                 .catch((error) => {
                     // error.response.status Check status code
                     console.log("Error!" + error)
                 }).finally(() => {
                     //Perform action in always
                     console.log("Done!")
                 });
                this.buttonoff_b = true
        }
    },
    created() {
        console.log('Component has been created!');
        this.getIpinfo();
    },
}
</script>