<template>
  <div id="app">
    <p><a href="/">home</a> | <a href="/websock">websock</a> | <a href="/helloworld">helloworld</a> | <a href="/showtable">showtable</a></p>
    <!--<img alt="Vue logo" src="./assets/logo.png">-->
    <!--<HelloWorld msg="Welcome to Your Vue.js App"/>-->
    <router-view></router-view>
  </div>
</template>

<script>
//import HelloWorld from './components/HelloWorld.vue'
//import HelloWorld from './components/echowebsock.vue'
//import HelloWorld from './components/testapi.vue'

export default {
  name: 'App',
  components: {
//    HelloWorld
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
